{% extends "base.html" %}

{% block title %}Error 400 | LL{% endblock %}

{% block head %}
<meta charset="UTF-8" />
<meta name="og:title" content="Error 400 | LL" />
<meta name="og:site_name" content="LinkLiberate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
    name="og:description"
    content="A simple link shortener that doesn't track you."
/>
<meta name="og:type" content="website" />
<meta name="og:url" content="https://ll.fosscu.org" />
<meta name="og:locale" content="en_US" />
{% endblock %}

{% block body %}
    <div class="container" align="center">
        <a href="/"><h1>🔗LinkLiberate🪽</h1></a>
        <h2>Error 400 | Bad Request</h2>
        <p>{{ error }}</p>
    </div>
{% endblock %}
