{% extends "base.html" %}

{% block title %}🔗LinkLiberate🪽{% endblock %}

{% block head %}
<meta charset="UTF-8" />
<meta name="og:title" content="🔗LinkLiberate🪽" />
<meta name="og:site_name" content="LinkLiberate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
    name="og:description"
    content="A simple link shortener that doesn't track you."
/>
<meta name="og:type" content="website" />
<meta name="og:url" content="https://ll.fosscu.org" />
<meta name="og:locale" content="en_US" />
{% endblock %}

{% block body %}
<div class="container">
    <h1>🔗LinkLiberate🪽</h1>
    <div align="center">
        LinkLiberate is a simple open source link shortener that doesn't track you. <br>
        Go ahead and try it out! <br>
        <button class="submit-button" onclick="window.location.href='/liberate'">Shorten a link</button>
    </div>
    <hr>
    <div class="footer">
        <p align="center">
            Powered by <a href="fastapi.tiangolo.com">FastAPI</a> <br>
            Contribute to this project on <a href="https://github.com/FOSS-Community/LinkLiberate">GitHub</a> <br>
            Made with ❤️ by folks of <a href="https://fosscu.org">FOSSCU</a>
        </p>
    </div>
</div>
{% endblock %}
