{% extends "base.html" %}

{% block title %}Web post | LL{% endblock %}

{% block head %}
<meta name="og:title" content="Web post | LL" />
<meta name="og:site_name" content="LinkLiberate" />
<meta
    name="og:description"
    content="Web form for posting links to the LinkLiberate database."
/>
<meta name="og:type" content="website" />
<meta name="og:url" content="https://ll.fosscu.org" />
<meta name="og:locale" content="en_US" />
{% endblock %}

{% block body %}
<div class="container">
    <a href="/"><h1>🔗LinkLiberate🪽</h1></a>
    <div class="form-container">
        <form method="post" action="/liberate">
            <input type="text" name="content" class="link-input" placeholder="Enter your link...">
            <button type="submit" class="submit-button">Shorten</button>
        </form>
    </div>
</div>
{% endblock %}
