{% extends "base.html" %}

{% block title %}Show liberate | LL{% endblock %}

{% block head %}
<meta name="og:title" content="Show liberate post | LL" />
<meta name="og:site_name" content="LinkLiberate" />
<meta
    name="og:description"
    content="Web form for posting links to the LinkLiberate database."
/>
<meta name="og:type" content="website" />
<meta name="og:url" content="https://ll.fosscu.org" />
<meta name="og:locale" content="en_US" />
{% endblock %}

{% block body %}
<div class="container">
    <a href="/"><h1>🔗LinkLiberate🪽</h1></a>
    <div class="form-container">
        <p>Link: </p><a href="{{ link }}">{{ link }}</a>
        <p>Short: </p><a href="{{ short }}">{{ short }}</a>
    </div>
</div>
{% endblock %}
